:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-background: #00000099;
  --color-primary: #d6ac2f;
  --color-satanic: #c81717;
  --color-angelic: #fdfea5;
  --color-unholy: #c73664;
  --color-heroic: #00e19a;
  --color-satanic-set: #0bb01a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #c7b377;
  --color-background: rgba(0, 0, 0, 0.8);
  --color-border: #ffffff;
  --color-subskill-name: #ff5100;
  --color-button: #28314b;
  --color-button-hover:rgb(102, 35, 99)b;
  --color-modal: #22315e7a;
  /* Colors Tiers*/
  --color-s: #f3c632;
  --color-a: #e69650;
  --color-b: #bb6234;
  --color-c: #82251c;
  --color-d: #5a1c14;

  /* Typography */
  --font-family-primary: "Fenris", sans-serif;
  --font-size-base: 1rem;
  --font-size-title: 1.2rem;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  /* Effects */
  --blur-amount: blur(8px);
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Fenris";
  font-weight: 600;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Dark Theme (default) */
[data-theme="dark"] {
  --color-background: rgba(0, 0, 0, 0.8);
  --color-text-primary: #ffffff;
}

/* Light Theme */
[data-theme="light"] {
  --color-background: rgba(255, 255, 255, 0.9);
  --color-text-primary: #000000;
}

/* Font-face */
@font-face {
  font-family: "Fenris";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    url("~@/assets/fonts/fenris.woff") format("woff"),
    url("~@/assets/fonts/fenris.woff2") format("woff2");
}
